.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 450px;
    min-height: 609px;
    padding: 40px;

    background-color: $primary-bg-color;

    @media screen and (min-width: 1200px) {
        min-width: 528px;
        min-height: 581px;
    }

}

.modal__clouse-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background-color: $primary-bg-color;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

/* Modal Form */

.modal__form-title {
    text-align: center;

    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.modal-form {
    margin: 0 auto;
    width: 100%;
}

.modal-form__field {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.modal-form__field:nth-child(4) {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.modal-form__input-label {
    display: block;
    margin-bottom: 4px;

    color: $secondary-text-color;
}

.modal-form__input-field {
    position: relative;
}

.modal-form__input {
    width: 100%;
    height: 40px;

    padding: 12px 0px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 0;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid $accent-color;
    }

    &:focus+.modal-form__iconwrap>.modal-form__icon {
        fill: $accent-color;
    }
}

.modal-form__iconwrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 13px;

    transform: translateY(-50%);
}

.modal-form__icon {
    fill: $primary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 0;

    resize: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: 1px solid $accent-color;
    }
}


.modal-form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form__policy {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    margin-left: 13px;
}

.modal-form__policy-icon {
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 1px solid $primary-text-color;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked+.modal-form__policy-icon {
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-size: contain;
    background-color: $accent-color;
    border: 1px solid $accent-color;
}

.modal-form__policy-text {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: $secondary-text-color;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.modal-form__policy-link {
    color: $accent-color;
    text-decoration: underline;
    font-size: 12px;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.modal-form__submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: 200px;
    height: 50px;

    background-color: $accent-color;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: $white-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}