.section__offers {
    @media screen and (max-width: 1200px) {
        display: none;
    }

}

.offer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.offer-list__item {
    position: relative;

    flex-basis: calc((100% - 60px) / 3);
}

.offer-list__title-wrap {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.offer-list__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
}