.section-team {
    background-color: $secondary-bg-color;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-list__item {
    flex-basis: 100%;
    border-radius: 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    background-color: #fff;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 120px) / 4);
    }
}

.team-list__img {
    width: 100%;
}

.team-list__info-block {
    padding: 30px 32px;
}

.team-list__title {
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
}

.team-list__pos {
    margin-bottom: 16px;
    text-align: center;

    font-size: 16px;
    line-height: 1.9;
    color: $secondary-text-color;
}

.team-social-networks {
    display: flex;
    gap: 10px;

    justify-content: center;
}

.team-social-networks__icon-wrap {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    fill: $clients-border-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
                background-color: $accent-color;
                fill: $primary-bg-color;
            }
}

